<div class="navbar-fixed">ng 
    <nav>
        <div class="nav-wrapper">
          <a href="/home" class="brand-logo right">Parallel</a>

          @if(Auth::check())
          <ul id="nav-mobile" class="left">
            <li><a href="/admin">Admin</a></li>
            <li><a href="/schools">Schools</a></li>
            <li><a href="/students">Students</a></li>
            <li><a href="/teachers">Teachers</a></li>
            <li><a href="/classes">Class</a></li>
            <li><a href="/sections">Sections</a></li>
            <li><a href="/admissions">Admissions</a></li>
            <li><a href="/payments">Payments</a></li>
          </ul>
          @endif


        </div>
    </nav>
</div>

<router-outlet></router-outlet>