.back-btn, .data-row, .collapsible-body ul li, .logout{
	cursor: pointer;
}

.p-title{
	margin-top: -6px !important;
    margin-left: 10px !important;
}

.error-container, .error{
	color: red;
}

.data-edit-btn{
	display: none;
}

.data-row .material-icons {
    font-size: 15px;
}

.new-admission-section-details{
	display:none;
}

.system-tab {
    margin-top: 7px;
}

.navbar-fixed{
	height: 113px;
}






