.back-btn, .data-row, .collapsible-body ul li{
	cursor: pointer;
}

.p-title{
	margin-top: -6px !important;
    margin-left: 10px !important;
}

.error-container{
	color: red;
}

.data-edit-btn{
	display: none;
}

.data-row .material-icons {
    font-size: 15px;
}

.new-admission-section-details{
	display:none;
}
